@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, #418BB1, #5f2c82);
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
    }

    div#formulario > h1 {
    text-align: center;
    margin-bottom: 15px;
}

    div#formulario > p {
    font-size: 0.9em;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #418BB1, #5f2c82);
    }
    
    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
    text-align: center;
    margin-bottom: 15px;
}

    div#formulario > p {
    font-size: 1em;
}
}